body {
	font-family:Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
    background-color: rgb(25, 28, 36);
    color: rgb(182, 182, 182);
}

h1 {
    color: rgb(255, 255, 255);
  }

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 75%;
    width: fit-content;
    /* height: 75%;
    width: 25%; */
    object-fit: contain;
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.8);
}
